.css-1wo1ogr.e1tzin5v0{

    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;

}

.css-1b0udgb {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: rgb(255 0 0);
    text-align: center;
    margin-top: 0.375rem;
    overflow-wrap: break-word;
    padding: 0.125rem;
}

/* .user-select-none.svg-container {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
    
    border-left: 0.5rem solid #9AD8E1 !important; 
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
} */
